* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

p {
  font-family: 'Montserrat Alternates', sans-serif;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

a {
  text-decoration: none;
  color: #e5e5e5;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  padding: 50px 20px;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

#up {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background: #fca311;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.anim-bg {
  position: relative;
}

.anim-cont {
  position: absolute;
  left: 20%;
  top: 60px;
}

#particles-js {
  width: 100%;
  height: 500px;
}

.header {
  padding-bottom: 50px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.header__body__logo {
  -webkit-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.header__body__logo a {
  text-decoration: none;
  color: #e5e5e5;
  font-size: 50px;
}

.header__body__logo._active {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.header__body__nav {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.header__body__nav a {
  text-decoration: none;
  color: #e5e5e5;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat Alternates', sans-serif;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  padding-bottom: 10px;
}

.header__body__nav li {
  -webkit-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  opacity: 0;
}

.header__body__nav a:hover {
  color: grey;
}

.header__body__nav._active li:nth-child(0) {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.header__body__nav._active li:nth-child(1) {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.header__body__nav._active li:nth-child(2) {
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.header__body__nav._active li:nth-child(3) {
  -webkit-transition: all 0.8s ease 0.6s;
  transition: all 0.8s ease 0.6s;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.header__body__nav._active li:nth-child(4) {
  -webkit-transition: all 0.8s ease 0.8s;
  transition: all 0.8s ease 0.8s;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.header__body__nav._active li:nth-child(5) {
  -webkit-transition: all 0.8s ease 1s;
  transition: all 0.8s ease 1s;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.main {
  padding: 8% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main .right {
  width: 55%;
}

.main .left {
  padding: 0px 10px;
}

.main .left h1 {
  color: #ffffff;
  font-size: 40px;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: left;
  -webkit-transform: translate(0%, 0px);
          transform: translate(0%, 0px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.main .left h1._active {
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.main .left h2 {
  text-align: left;
  margin: 30px 0px;
  font-size: 30px;
  color: #e5e5e5;
  font-family: 'Montserrat Alternates', sans-serif;
  -webkit-transform: translate(0%, 0px);
          transform: translate(0%, 0px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.main .left h2._active {
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.main .left button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 17px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  margin-top: 40px;
  cursor: pointer;
  background-color: #fca311;
  color: #e5e5e5;
}

.main .left button:hover {
  background-color: #e5e5e5;
  color: #000000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main .left a {
  -webkit-transform: translate(0%, 0px);
          transform: translate(0%, 0px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.main .left a._active {
  -webkit-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.services {
  padding: 90px 0px;
}

.services h1 {
  font-size: 50px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #e5e5e5;
  margin-bottom: 30px;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1500px;
  height: 400px;
  width: 100%;
}

.services__body__item {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.services__body__item i {
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  color: #ffffff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #fca311;
}

.services__body__item h3 {
  font-size: 22px;
  text-align: center;
  margin: 15px 0px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #e5e5e5;
}

.services__body__item a {
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.services__body__item._active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about {
  padding: 80px 0px;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.about__body__left {
  -webkit-transform: translate(-150%, 0px);
          transform: translate(-150%, 0px);
  opacity: 0;
  -webkit-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
}

.about__body__left h2 {
  font-size: 50px;
  color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

.about__body__left p {
  font-size: 24px;
  margin: 50px 0px;
  color: #e5e5e5;
}

.about__body__left li {
  font-size: 20px;
  margin: 0;
  padding: 16px 0 16px 54px;
  list-style: none;
  background-image: url("https://datasite.uz/assets/img/check.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px;
  color: #e5e5e5;
  font-family: 'Montserrat Alternates', sans-serif;
}

.about__body__left._active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.about__body__right {
  -webkit-transform: translate(-250%, 0px);
          transform: translate(-250%, 0px);
  opacity: 0;
  -webkit-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
}

.about__body__right._active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.blog {
  padding-bottom: 50px;
}

.blog h2 {
  text-align: center;
  font-size: 50px;
  padding: 50px 0px;
  color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

.blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__body__item {
  width: 370px;
  margin: 50px 0px;
}

.blog__body__item h3 {
  font-size: 25px;
  margin: 10px 0px;
  color: #e5e5e5;
}

.blog__body__item a {
  font-size: 20px;
  font-weight: bold;
}

.feedback {
  padding: 80px 0px;
}

.feedback__body {
  text-align: center;
}

.feedback__body h2 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 90px;
  color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

.feedback__body-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Firefox 19+ */
  /* Firefox 18- */
}

.feedback__body-form input {
  width: 80%;
  height: 80px;
  margin: 20px 0px;
  background-color: transparent;
  padding: 20px;
  border: none;
  font-size: 20px;
  color: #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.feedback__body-form ::-webkit-input-placeholder {
  color: #e5e5e5;
}

.feedback__body-form ::-moz-placeholder {
  color: #e5e5e5;
}

.feedback__body-form :-moz-placeholder {
  color: #e5e5e5;
}

.feedback__body-form :-ms-input-placeholder {
  color: #e5e5e5;
}

.feedback__body button {
  margin-top: 20px;
  width: 250px;
  height: 50px;
  background-color: #fca311;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}

.footer {
  padding: 70px 0px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__body h1 {
  color: #e5e5e5;
}

.footer__body__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0px;
}

.footer__body__main p {
  margin: 8px 0px;
  color: #e5e5e5;
}

.footer__body__main p span {
  color: #fca311;
  font-weight: bold;
}

.footer__body__links {
  margin: 30px 0px;
}

.footer__body__links i {
  font-size: 25px;
  margin-left: 20px;
  color: #fca311;
}

.footer__body .conf {
  margin-top: 30px;
  color: #e5e5e5;
}

.stackTech {
  padding: 90px 0px;
}

.stackTech h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 90px;
  color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

.stackTech__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stackTech__body__static {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.stackTech__body__static-item {
  max-width: 600px;
  width: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.stackTech__body__static-item h2 {
  font-size: 27px;
  padding: 20px 0px;
  border-bottom: 7px solid #e5e5e5;
  color: #e5e5e5;
}

.stackTech__body__static-item .knowledge {
  margin: 50px 0px;
}

.stackTech__body__static-item .knowledge h3 {
  font-size: 22px;
  color: #e5e5e5;
}

.stackTech__body__static-item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0px;
}

.stackTech__body__static-item span p {
  font-size: 20px;
  margin: 0px 10px;
  background-color: #f1f1f1;
  padding: 2px;
  font-weight: bold;
  color: #fca311;
}

.stackTech__body__static-item p {
  font-size: 20px;
  color: #e5e5e5;
}

.stackTech__body__static-item._active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.stackTech__body__text {
  margin: 40px auto;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.stackTech__body__text p {
  font-size: 20px;
  color: #e5e5e5;
}

.stackTech__body__text._active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.partners {
  padding-top: 60px;
  padding-bottom: 100px;
}

.partners h2 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 100px;
  color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

.partners__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__body__item {
  padding: 0px 40px;
}

.aboutPage {
  padding: 120px 0px;
}

.aboutPage__contacts {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.aboutPage__contacts__item {
  width: 50%;
}

.aboutPage__contacts__item h3 {
  font-size: 30px;
  color: #e5e5e5;
}

.aboutPage__contacts__item .item-block {
  margin: 20px 0px;
}

.aboutPage__contacts__item .item-block span {
  font-weight: bold;
  font-size: 20px;
}

.aboutPage__contacts__item .item-block p {
  font-size: 15px;
  margin: 10px 0px;
  width: 80%;
  color: #e5e5e5;
}

#map {
  width: 100%;
  height: 600px;
  border-radius: 10px;
}

.servicePage h1 {
  font-size: 60px;
  color: #e5e5e5;
  text-align: center;
  margin: 10% 0px;
}

.servicePage__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.servicePage__body__item {
  width: 40%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0px;
}

.servicePage__body__item i {
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  color: #ffffff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #fca311;
}

.servicePage__body__item .text {
  text-align: left;
  margin-left: 30px;
}

.servicePage__body__item .text h3 {
  font-size: 25px;
  color: #e5e5e5;
  font-family: Arial, Helvetica, sans-serif;
}

.servicePage__body__item .text p {
  font-size: 18px;
  color: #e5e5e5;
  margin-top: 10px;
  margin-bottom: 10px;
}

.servicePage__body__item .text a {
  color: #e5e5e5;
}

.serviceInfo h1 {
  font-size: 60px;
  color: #e5e5e5;
  text-align: center;
  margin-top: 8%;
}

.serviceInfo__body {
  padding: 60px 0px;
}

.serviceInfo__body h4 {
  font-size: 25px;
  color: #e5e5e5;
}

.serviceInfo__body p {
  margin: 50px 0px;
  color: #e5e5e5;
  font-size: 20px;
}

.serviceInfo__body .block-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.serviceInfo__body .block-stat .stat-item {
  margin: 50px 0px;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.serviceInfo__body .block-stat .stat-item img {
  width: 48px;
  height: 48px;
}

.serviceInfo__body .block-stat .stat-item p {
  font-size: 16px;
  font-weight: 700;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.serviceInfo__body .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 150px;
}

.serviceInfo__body .price h2 {
  font-size: 30px;
  text-align: center;
}

.serviceInfo__body .price h4 {
  margin: 50px 0px;
  font-size: 22px;
}

.serviceInfo__body .price p {
  text-align: left;
}

.serviceInfo__body .price .price__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.serviceInfo__body .price .price__cart__item {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 12px -4px #aaa;
          box-shadow: 0 0 12px -4px #aaa;
}

.serviceInfo__body .price .price__cart__item p {
  border-bottom: 2px solid firebrick;
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
}

.serviceInfo__body .price .price__cart__item p span {
  font-weight: bold;
  font-size: 25px;
}

.serviceInfo__body .price .price__cart__item ul {
  font-size: 19px;
  padding: 20px;
}

.serviceInfo__body .price .price__cart__item ul li {
  margin-bottom: 10px;
}

.serviceInfo__body .price .price__cart__item h4 {
  width: 100%;
  text-align: center;
}

.serviceInfo__body .notion {
  margin: 150px 0px;
}

.serviceInfo__body .notion__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 100px 0px;
}

.serviceInfo__body .notion__body__item {
  width: 25%;
  margin: 0px 20px;
}

.serviceInfo__body .notion__body__item h3 {
  border-bottom: 4px solid firebrick;
  font-size: 24px;
  padding-bottom: 15px;
}

.portfolioPage h1 {
  font-size: 60px;
  color: #e5e5e5;
  text-align: center;
  margin: 10% 0;
}

.portfolioPage__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.portfolioPage__body__item {
  margin: 60px 50px;
  text-align: center;
  width: 25%;
}

.portfolioPage__body__item h3 {
  font-size: 25px;
  margin-bottom: 50px;
}

.portfolioPage__body__item img {
  border-radius: 50%;
  width: 240px;
  height: 240px;
}

.portfolioPage__body__item-text {
  text-align: center;
  margin-top: 20px;
  width: 350px;
}

.portfolioPage__body__item-text p {
  font-size: 20px;
  font-weight: bold;
}

.portfolioPage__body__item-text h5 {
  border: 2px solid #22252c;
  background-color: #22252c;
  display: inline;
  border-radius: 20px;
  padding: 10px;
  color: white;
  line-height: 80px;
  font-size: 18px;
}

.portfolioPage__body__item-text h5 i {
  font-size: 18px;
}

.portPage__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portPage__body h1 {
  font-size: 36px;
  color: #e5e5e5;
  text-align: center;
}

.portPage__body .main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px 0px;
}

.portPage__body .main-top-text {
  color: #e5e5e5;
}

.portPage__body .main-top-text h3 {
  font-size: 28px;
}

.portPage__body .main-top-text p {
  font-size: 17px;
}

.portPage__body .main-top-text .portInfo {
  margin-top: 50px;
}

.portPage__body .main-top-text .portInfo h4 {
  font-size: 17px;
}

.portPage__body .main-middle h2 {
  font-size: 30px;
  color: #e5e5e5;
  text-align: center;
  margin: 30px 0px;
}

.portPage__body .main-middle p {
  font-size: 17px;
  color: #e5e5e5;
}

.portPage__body .main-bottom {
  margin-top: 300px;
  text-align: center;
  margin-bottom: 200px;
}

.portPage__body .main-bottom h2 {
  font-size: 30px;
  color: #e5e5e5;
  text-align: center;
}

.portPage__body .main-bottom-form {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Firefox 19+ */
  /* Firefox 18- */
}

.portPage__body .main-bottom-form input {
  width: 46%;
  height: 80px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid white;
  margin: 0px 20px 50px 20px;
  font-size: 20px;
  color: #e5e5e5;
}

.portPage__body .main-bottom-form ::-webkit-input-placeholder {
  color: #e5e5e5;
}

.portPage__body .main-bottom-form ::-moz-placeholder {
  color: #e5e5e5;
}

.portPage__body .main-bottom-form :-moz-placeholder {
  color: #e5e5e5;
}

.portPage__body .main-bottom-form :-ms-input-placeholder {
  color: #e5e5e5;
}

.portPage__body .main-bottom-form h4 {
  font-size: 20px;
  color: #e5e5e5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-top: 50px;
}

.portPage__body .main-bottom-form textarea {
  width: 100%;
  height: 300px;
  font-size: 20px;
  color: #e5e5e5;
  margin-top: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
}

.portPage__body .main-bottom button {
  margin-top: 40px;
}

.blogPage h1 {
  font-size: 60px;
  color: #e5e5e5;
  text-align: center;
  margin: 10% 0;
}

.blogPage__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.blogPage__body__item {
  margin: 70px 0px;
}

.blogPage__body__item img {
  width: 368px;
}

.blogPage__body__item h3 {
  color: #e5e5e5;
  font-size: 25px;
  margin: 12px 0px;
}

.blogPage__body__item p {
  color: #e5e5e5;
  font-size: 20px;
}

.blogPage__pageInfo__body h1 {
  font-size: 60px;
  color: #e5e5e5;
  text-align: center;
  margin: 10% 0;
}

.blogPage__pageInfo__body h4 {
  font-size: 30px;
  color: #e5e5e5;
  margin: 50px 0px;
}

.blogPage__pageInfo__body .blog-img {
  text-align: center;
  margin: 50px 0px;
}

.blogPage__pageInfo__body .blog-img img {
  width: 700px;
}

.blogPage__pageInfo__body p {
  font-size: 28px;
  color: #e5e5e5;
}

.contactPage__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactPage__body h1 {
  font-size: 60px;
  color: #e5e5e5;
  text-align: center;
  margin: 10% 0;
}

.contactPage__body__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 90px 0px;
}

.contactPage__body__main .main-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #fca311;
  width: 100%;
  margin: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contactPage__body__main .main-item i {
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  color: #ffffff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 10px 0px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.contactPage__body__main .main-item-content {
  position: absolute;
  text-align: center;
  opacity: 0;
  top: 10px;
}

.contactPage__body__main .main-item-content h3 {
  font-size: 30px;
  color: #e5e5e5;
  margin: 10px 0px;
}

.contactPage__body__main .main-item-content a {
  font-size: 24px;
}

.contactPage__body__main .main-item-content p {
  color: #e5e5e5;
  font-size: 21px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.contactPage__body__main .main-item:hover {
  cursor: pointer;
}

.contactPage__body__main .main-item:hover i {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
}

.contactPage__body__main .main-item:hover div {
  opacity: 1;
  -webkit-transition: 0.3s linear 0.3s;
  transition: 0.3s linear 0.3s;
}
/*# sourceMappingURL=style.css.map */