* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

$bgColor: #efefef;
$bgColor2: #000000;
$color: #e5e5e5;
// $color2: #fca311;
$color2: #4682B4;

$color3: #14213d;

p {
  font-family: 'Montserrat Alternates', sans-serif;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  // background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  // background: radial-gradient(ellipse at bottom, #206bc0 0%, #1338f1 100%);
  background: radial-gradient(ellipse at bottom, #3e4d5d 0%, #4682B4 100%);
}

a {
  text-decoration: none;
  color: $color;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  padding: 50px 20px;
}

#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}

#up {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background: #4682B4;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.anim-bg {
  position: relative;
}

.anim-cont {
  position: absolute;
  left: 20%;
  top: 60px;
}

#particles-js {
  width: 100%;
  height: 500px;
}
